body {
    width: 100%;
    /* display: inline block; */
    margin: 0;
    padding: 30px;
    overflow: hidden;
    display: inline-grid;
    grid-template-columns: 60% 40%;
    background-image: url(../img/704496.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#main {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    width: 650px;
    height: 650px;
    margin: auto auto;
    top : 0;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.miniBox {
    width: 63px;
    height: 63px;
    border: 0.049em solid rgb(214, 214, 214);
    position: relative;
    
}
.marker {
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 50% 50% 50% 0;
    border: 3px solid #00cbf3;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    animation-name: markerAnimation;
    animation-duration: 1s;
}

.marker::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #00cbf3;
}

.marker2 {
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 50% 50% 50% 0;
    border: 3px solid rgb(255, 132, 18);
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.marker2::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: rgb(255, 132, 18);
}

@keyframes markerAnimation {
    from { top : 0%; left : 20% }
    to {top : 20%; left: 20%;}

}


/* AJI */
/* body{
    background-image: url(../img/704496.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.player {
    background-color: white;
    opacity: 0.75;
    border: 1px solid black;
    width: 300px;
    height: auto;
    display: inline-grid;
    top: 0;
    margin-left: 40px;
    border-radius: 30px;
}
#titlePlayer{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.player1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
#titlePlayer1 {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}
#placeholderDadu {
    border: 1px solid gray;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 100px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.titleDadu {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#dadu {
    background-color: grey;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-left: 84px;
    margin-bottom: 10px;
}