body {
    display: inline block;
}
#main {
    border: 1px solid #d3d3d3;
    /* background-color: #f1f1f1; */
    width: 650px;
    height: 650px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.miniBox {
    width: 63px;
    height: 63px;
    border: 0.049em solid rgb(214, 214, 214);
    position: relative;
}
.marker {
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 50% 50% 50% 0;
    border: 3px solid #00cbf3;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.marker::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #00cbf3;
}

.marker2 {
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 50% 50% 50% 0;
    border: 3px solid rgb(255, 132, 18);
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.marker2::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: rgb(255, 132, 18);
}
